<!-- listings/templates/listings/listing_list.html -->

{% extends 'listings/base.html' %}

{% block content %}

<h1>Listings</h1>
<ul>
    {% for list in lists %}
    <li><a href="{% url 'listing-detail' list.id %}">{{ list.title }}</a></li>
    {% endfor %}
</ul>

{% comment %} <p>
    Il y a 
    {% if lists|length < 5 %}
        peu de
    {% elif lists|length < 10 %}
        quelques
    {% else %}
        beaucoup de
    {% endif %}
        listes notées.
</p> {% endcomment %}

{% endblock %}