<!-- listings/templates/listings/listing_detail.html -->
{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ list.title }}</h2>

<ul>
    {% if list.get_type_display %}
        <li>Description : {{ list.description }}</li>
    {% endif %}
 
 <li>Type de produit : {{ list.get_type_display }}</li>
 <li>Band : <a href="{% url 'band-detail' list.band.id %}">{{ list.band.name }}</a></li>
 <li>Année : {{ list.year }}</li>
 <li>Est déjà vendu : {{ list.sold|yesno }}</li>
</ul>

<a href="{% url 'listing-change' list.id %}">Modifier ce produit</a>
<a href="{% url 'listing-delete' list.id %}">Supprimer ce produit</a>

<a href="{% url 'listing-list' %}">Retour à tous les produits</a>


{% endblock %}